@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
  display: flex;
  justify-content: center;
}

#header {
  text-align: center;
  color: white;
  font-size: 40pt;
}

#root {
  min-width: 600px;
  width: 50%;
  padding: 10px;
}