@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
}

#header {
  text-align: center;
  color: white;
  font-size: 40pt;
}

#root {
  padding: 10px;
}